includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - routes/

    # Level 5 by default, you can increase to 9 for strictness
    level: 5

    excludePaths:
        - vendor/
